* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #292929;
}

footer > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  display: inline-block;
  margin: 40px 50px 0 150px;
}

footer > #image-container > div {
  background: url("img/social.jpg");
  height: 54px;
  width: 68px;
  margin: 20px 100px 0 0;
  float: right;
}

footer > #image-container > #facebook-image {
  background-position: -4px -1px;
  margin: 15px 405px 0 0;
}

footer > #image-container > #linkedin-image {
  background-position: -196px -1px;
  margin: 15px -140px 0 0;
}

footer > #image-container > #youtube-image {
  background-position: -515px -1px;
  margin: 15px -212px 0 0;
}

footer > #image-container > #twiter-image {
  background-position: -69px -1px;
  margin: 15px -284px 0 0;
}

footer > #image-container > #facebook-image:hover {
  background-position: -4px 60px;
}

footer > #image-container > #linkedin-image:hover {
  background-position: -196px 60px;
}

footer > #image-container > #youtube-image:hover {
  background-position: -515px 60px;
}

footer > #image-container > #twiter-image:hover {
  background-position: -69px 60px;
}

footer > ul {
  position: absolute;
}

footer > ul > li {
  text-transform: capitalize;
  font-size: 25px;
  color: rgb(175, 175, 15);
  list-style: none;
}

footer > #first-list {
  margin: 20px 0 0 150px;
}

footer > #second-list {
  margin: 20px 0 0 575px;
}

footer > #third-list {
  margin: 20px 0 0 910px;
}